:root {

}

* {
    box-sizing: border-box;
}


body {
    margin: 0px;
    padding: 0px;
background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
#hero{
/* display: flex;
justify-content: center; */
}
#hero img{
padding-left: 20px;
padding-right: 20px;

}
#page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 10px;

}
#h1_ph {
    margin: 0px;
    padding-left: 10%;
    padding-right: 10%;

}


#navbar ul {
    list-style-type: none;

}


#navbar li {
    display: inline-block;
    padding-left: 11px;
    padding-right: 50px;
    padding-bottom: 10px;
    margin-left: 5px;
  
}



.container {
    padding: 26px;
    padding-top: 0px;
    margin: 34px;
    margin-left: 300px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
 
   
}


.container div {

    margin: 10px;
    
}


.side-headers {
    font-size: 280%;
    position: absolute;
    text-align: end;
    padding:20px;
    border-right: solid 10px blue;
}



#text-header {
    top: -40px;
    left: -200px;
}

.project {

    background-repeat: no-repeat;
    padding-top: 150px;

   }
 
   #project1 {
/* width:100%; */

width: 800px;
height: 400px;
margin-left: 20%;

       background-image: url(../images/elephant.jpg);
   }
   
#project2 {
margin-left: 5%;
    width: 600px;
    height: 400px;
    background-image: url(../images/elephant.jpg);
    
    }
#project3 {
margin-left: 5%;
    width: 600px;
    height: 400px;
background-image: url(../images/elephant.jpg);
}

#project4 {
margin-left: 5%;
    width: 600px;
    height: 400px;
    background-image: url(../images/elephant.jpg);
}
#project5 {
margin-left: 5%;

        width: 600px;
            height: 400px;
background-image: url(../images/elephant.jpg);
}

#contact-me ul {
    padding-top: 4%;
    padding-left: 4%;
    list-style: none;
    text-decoration: none;
}
#contact-me li {
    
    display: inline;
    margin: 60px;
}

#navbar a:hover {
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}

#contact-me a:hover {
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}

#work div:hover {
    opacity: 50%;
}
footer{
    bottom: 2%;
}


/*making webpage responsive by changing variables to make the elements fit better under certain widths*/
@media only screen and (max-width:768px) {
    body {
        display: flex;
        flex-direction: column;
        
    }
}

/*making webpage responsive by changing variables to make the elements fit better under certain widths*/
@media only screen and (max-width:992px) {
    #page-header h1 {
        font-size: 200%;
    }

    #navbar a {
        font-size: 100%;
    }

  
}